:root {
    --siteColor: rgb(63, 160, 68);
}

.jumbotron {
    margin-top: 0px !important;
    padding: 10px;
    background-color: rgb(12, 12, 12);
    opacity: 0.9;
}
.navbar {
    background-color: black;
}

nav a {
    color: white !important;
      
}
.bt-cta {
    background-color: var(--siteColor);
}

.nav-link {
    text-decoration: underline; 
}
.herogrid {
    padding: 50px;
}

.heading {
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: solid var(--siteColor); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--siteColor) }
  }

.heading,.subHeading, .content {
    text-align: left;
    color: white;
    padding: 3px;
    font-weight: 400;
}

h1{
    color: var(--siteColor);
}


.cardContainer {
    margin: 10px;
    padding: 5px;
    margin-bottom: 40px;
}


.card {
    color: black;
    text-align: center;
    margin: 10px;
    padding: 20px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);

}

.sectionHeading {
    color: black;
}

p {
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar-toggler-icon {
    background-color: rgb(53, 52, 52);
  }

.sectionHeading, .skillsHeading {  
    text-align: center;
    font-weight: bolder;
    padding-bottom: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.btn-outline-secondary {
    border-color: black;
  }  

  #profilePic img {
    border-radius: 50%;
    height: 300px;
    width: auto;
    float: right;
    padding: 5px;
    margin: 20px;
    border: 5px solid white;
    box-shadow: 0 0 15px var(--siteColor); 
  }
  
.blueText {
    color: rgb(65, 110, 235);
}


.skillsbody {
    margin: 5px;
    padding: 10px;
}

.skills {
    padding: 10px;
    background-color: rgb(229, 234, 241);
}

.progress-bar {
    background-color: #18191a;
  }

  .skills img {
    width: 100px;
    padding: 5px;
  }

  .aboutMePic img {
    border-radius: 50%;
    height: 180px;
    width: auto;
    border: 5px solid white;
    padding: 3px;
  }

  .aboutmeP {
    text-align: left;
    padding: 10px;
    margin: 5px;
    color: white;
  }
.aboutmeP h2 {
    color: white;
    text-decoration:underline 2px solid white ;
}
  
  .about {
    display: flex;
    justify-content: space-evenly;
    background-color: #282829;
    margin: 100px;
    padding: 80px;
  }
  .contact {
    text-align: center;
    font-weight: bolder;
  }

  .socail  {
    margin: 10px;
    padding: 50px;
  }

  i.fas, i.fab  {
    color: rgb(48, 48, 48)
  }
  footer {
    margin: 10px;
    padding: 10px;
    text-align: center;
  }
 a:hover {
    transform: scale(1.2);
    box-shadow: 0 0 10px var(--siteColor); 
  }

/* to make each card container bigger on hoover */
.cardContainer:hover {
    transform: scale(1.2);
}

  

@media only screen and (max-width: 789px) {
    .heading {
        font-family: monospace;
        overflow: hidden;
        border-right: .15em solid var(--siteColor);
        white-space: pre-wrap;
        margin: 0 auto;
        letter-spacing: .15em;
        animation: typing 3.5s steps(30, end),
        blink-caret .5s step-end infinite;
    }
    @keyframes typing {
        from { width: 0 }
        to { width: 100% }
      }
     @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: var(--siteColor) }
      } 
      .about {
        display: flex;
        flex-direction: column-reverse;
        justify-content:center;
        background-color: #282829;
        margin: 0px;
        padding: 5px;
        text-align: center;
      }
    .aboutMePic img {
            border-radius: 50%;
            height: 200px;
            width: auto;
            padding: 3px;
            border: 5px solid white;
            justify-content: center;
          }
          .aboutmeP {
            text-align: center;
            padding: 1px;
            color: white;
      }
    }